
.header {
    background-color: rgb(5, 10, 36);
    padding: 10px;
    text-align: center;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.epic-logo {
    width: 250px;
    height: auto;
}

.header-nav {
    list-style: none;
    display: flex;
    padding: 5px;
    gap: 100px;
    align-items: center ;
}


.header-nav li {
    list-style: none;
    font-size: 120%;
    
}

.header-nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15%;
}

.header-nav a:hover {
    background-color: white;
    color: #2596be;
    border-radius: 5%;
    font-weight: bold;
    text-decoration: none;
}

.language {
    width: 50px;
    height: auto;
}

.language:hover {
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}


@media screen and (max-width: 1000px) {
    .header-nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
    }
  
    .header-nav.open {
      display: flex;
    }
  
    .header-nav a {
      padding: 5px;
    }
  
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-menu-icon {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 24px;
      margin-right: 10px;
    }
  }
  